body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("http://i.talpix.lt/wO6Nl.jpeg");
    background-repeat: no-repeat;
    background-color: #333;
    color:#ffffff
  }
  html, body {
    text-align: center;
    height: 2270px;
    margin: 0;
    width: 2025px;
}
  
.navbar {
    overflow: hidden;
    background-color: #333;
  }
  
  .navbar a {
    float: right;
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 34px 30px;
    text-decoration: none;
    
  }
  
  .dropdown {
    float: right;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 30px;  
    border: none;
    outline: none;
    color: white;
    padding: 34px 30px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #1c6343;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: rgb(3, 31, 16);
    padding: 34px 30px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: rgb(152, 152, 170);
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
.kaire{text-align: left}
.blokas {
  position: absolute;
  float: left;
  width: 800px;
  padding-left: 15px;
  padding-right: 5px;
  padding-bottom: 10px;
  padding-top: 5px;
  border-color: #0d5e46;
  border-width: 20px;
  border-style: solid;
  text-align: center; 
  height: 800px;

}
div {
  display: block;
}
.sriftas{
  font-size: 40px;
  font-family: cursive;
  color: white;
}
h1{font-size: 80px;
font-family: fantasy;
    color: rgb(233, 236, 29);}
}
.data{
  font-size:10px;
  font-family: 'Times New Roman', Times, serif;
  color: cornsilk;
}
